<?xml version="1.0"?>
<globals>
    <global id="projectOut" value="." />
    <global id="manifestOut" value="${manifestDir}" />
    <global id="srcOut" value="${srcDir}/${slashedPackageName(packageName)}" />
    <global id="debugResOut" value="${escapeXmlAttribute(projectOut)}/src/debug/res" />
    <global id="releaseResOut" value="${escapeXmlAttribute(projectOut)}/src/release/res" />


    <global id="assetsOut" value="${escapeXmlAttribute(projectOut)}/src/main/assets/backbase" />


    <global id="resOut" value="${resDir}" />
    <global id="simpleName" value="${activityToLayout(activityClass)}" />
    <global id="relativePackage" value="<#if relativePackage?has_content>${relativePackage}<#else>${packageName}</#if>" />

</globals>
