<resources>
    <string name="title_${simpleName}">${escapeXmlString(activityTitle)}</string>
    <string name="app_name">CXP Mobile</string>
    <string name="action_settings">Settings</string>
    <string name="drawer_open">Open navigation drawer</string>
    <string name="drawer_close">Close navigation drawer</string>
    <string name="device_rooted_title">Device is rooted</string>
    <string name="device_rooted_message">For your own safety we don\'t allow users with rooted devices to use this application.</string>

</resources>
